{% extends 'base.html.twig' %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{{ path('index.registration') }}">S'inscrire<span class="sr-only">(current)</span></a>
        </li>
        </ul>
    </div>
    </nav>
    <div class="container">
    <h1 class="mt-4">Admin Connexion</h1>
        <form class="mt-4" action="{{ path('control.admin') }}" method="post">
            <div class="form-group">
                <label>Votre pseudo</label>
                <input type="text" class="form-control" name="_username" value="{{ username }}">
            </div>
            <div class="form-group">
                <label>Votre mot de passe</label>
                <input type="text" class="form-control" name="_password">
            </div>
            <button type="submit" class="btn btn-primary">S'inscrire</a>
        </form>
    </div>
{% endblock %}